
#todo-list {
  list-style: none;
  padding-left: 0;
}
#new-todo, #todo-list li {
  margin-bottom: 10px;
  line-height: 29px;
}

#todo-list .edit { display: none; }
#todo-list .editing .edit { display: inherit; }
#todo-list .view { display: inherit; }
#todo-list .editing .view { display: none; }

#todo-list .done .view label { text-decoration: line-through; }
