<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Backbone.js Todos</title>
  
  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/todos.css"/>
  
</head>

<body>
  <section id="todoapp" class="container">
    <header id="header" class="page-header"></header>
    <section id="main"></section>
    <footer id="footer"></footer>
  </section>

  <footer id="info">
    <p>
      Forked from TodoMVC (<a href="http://github.com/jsoverson">Jarrod Overson</a>, <a href="http://github.com/derickbailey">Derick Bailey</a>)
    </p>
  </footer>

  <!-- Templates -->

  <script type="text/html" id="template-header">
    <h1>viTodo</h1>
    <input id="new-todo" class="form-control" placeholder="What needs to be done?" autofocus>
  </script>

  <script type="text/html" id="template-footer">
    <span id="todo-count">
      <strong><%= activeCount %></strong> <%= activeCountLabel() %>
    </span>
    <ul id="filters">
      <li> <a href="#">All</a> </li>
      <li> <a href="#active">Active</a> </li>
      <li> <a href="#completed">Completed</a> </li>
    </ul>
    <button id="clear-completed" <% if (!completedCount) { %>class="hidden"<% } %>>
      Clear completed (<%= completedCount %>)
    </button>
  </script>

  <script type="text/html" id="template-todoItemView">
    <div class="view">
      <span class="handle">::</span>
      <input class="toggle" type="checkbox" <% if (completed) { %>checked<% } %>>
      <label><%- title %></label>
      <button class="destroy"></button>
    </div>
    <input class="form-control edit" value="<%- title %>">
  </script>

  <script type="text/html" id="template-todoListCompositeView">
    <input id="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>
    <ul id="todo-list"></ul>
  </script>

  <!-- External scripts -->

  <script src="bower_components/jquery/jquery.min.js"></script>
  <script src="bower_components/underscore/underscore-min.js"></script>
  <script src="bower_components/backbone/backbone-min.js"></script>
  <script src="bower_components/marionette/lib/backbone.marionette.min.js"></script>
  <script src="bower_components/indexeddb-backbonejs-adapter/backbone-indexeddb.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/html5sortable/jquery.sortable.js"></script>

  <script src="js/viTodo.js"></script>
  <script src="js/viTodo.Database.js"></script>
  <script src="js/viTodo.Todos.js"></script>
  <script src="js/viTodo.Layout.js"></script>
  <script src="js/viTodo.TodoList.Views.js"></script>
  <script src="js/viTodo.TodoList.js"></script>

  <script>
    $(function () {
      viTodo.start();
    });
  </script>

  </body>
</html>
